<%if (locals.messages) { %>
    <% messages.forEach(function(message){%>
        <p style="color: red" class="<% message.type %>"><%= message.string %></p>
    <%})%>
    <% removeMessages() %>
<% } %>